* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body {
  height:100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Raleway Thin", sans-serif;
  background:#eee;
}

.subs-odometer {
  font-size:48px;
  background:red;
  color:white;
  font-family: "Raleway", sans-serif;
  font-weight:bold;
  border-radius:8px;
  min-width: 300px;
  text-align: center;
  padding: 8px;
  letter-spacing: 4px;
}

h2 {
  font-size: 32px;
  text-transform: uppercase;
  letter-spacing: 8px;
  margin: 24px;
}